@page
@model portfolio_web_app.Pages.Admin.Blogs.AddModel
@{
}


<div class="bg-secondary bg-opacity-10 py-2 mb-5">

	<div class="container">

		<h1> add blog post </h1>

        
      
	</div>

</div>

<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="heading" class="form-label">Heading:</label>
                <input type="text" class="form-control" id="heading" asp-for="AddBlogPostRequest.Heading">
            </div>
            <div class="mb-3">
                <label for="pageTitle" class="form-label">Page Title:</label>
                <input type="text" class="form-control" id="pageTitle" asp-for="AddBlogPostRequest.PageTitle">
            </div>
            <div class="mb-3">
                <label for="pageContent" class="form-label">Content:</label>
                <textarea class="form-control" id="pageContent" asp-for="AddBlogPostRequest.PageContent"></textarea>
            </div> 
            <div class="mb-3">
                <label for="shortDescription" class="form-label">Short Description:</label>
                <input type="text" class="form-control" id="shortDescription" asp-for="AddBlogPostRequest.ShortDescription">
            </div>
            <div class="mb-3">
                <label for="featuredImage" class="form-label">Featured Image:</label>
                <input type="text" class="form-control" id="featuredImage" asp-for ="AddBlogPostRequest.FeaturedImageUrl">
            </div>
            <div class="mb-3">
                <label for="urlHandle" class="form-label">Url Handle:</label>
                <input type="text" class="form-control" id="urlHandle" asp-for="AddBlogPostRequest.UrlHandle">
            </div> 
            <div class="mb-3">
                <label for="publishedDate" class="form-label">Published Date:</label>
                <input type="date" class="form-control" id="publishedDate" asp-for="AddBlogPostRequest.PublishedDate">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author:</label>
                <input type="text" class="form-control" id="author" asp-for="AddBlogPostRequest.Author">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="visibility" asp-for="AddBlogPostRequest.Visible">
                <label class="form-check-label" for="visibility">
                    Visible
                </label>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<!--


<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



-->
