@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}


<div class="text-center">
    <h1 class="display-4">Sasha Gordon Greene</h1>
    <a class="page-scroll" href="https://google.com" >google</a>
</div>
